html {
    font-size: 22px
}

body {
    background-color: rgba(15, 2, 2, 0.863);
    color: whitesmoke;
}

a {
   color: aliceblue; 
}

a :visited {
    color:lightgray
}

  a:hover, a:active {
    color: #eee;
  }
  
  table, tr, th, caption {
  border: 1px; solid: #eee;
  font-familly: 'courier New', courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}